.app {
  max-width: 800px;
  margin: 0 auto;
  border-left: 10px solid #ccc;
  border-right: 10px solid #ccc;
}

.items-list {
  padding:0 20px;
  margin: 0;
}

.items-list li {
  margin: 20px 0;
  list-style: none;
}
